html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.main-nav a {
  margin-right: 100px;
}

.DARK {
  background-color: black;
  color: white;
}

.DARK a{
  color: white;
}

.LIGHT {
  background-color: white;
  color: black;
}
